@model MtecDevs.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<main class="container-fluid p-4">
    <form method="post" asp-action="Register" asp-controller="Account">
        <div class="text-center mb-4">
            <img src="~/img/logo2.png" alt="Logo" width="350">
        </div>

        <div class="mb-3">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DataNascimento" class="form-label"></label>
            <input asp-for="DataNascimento" type="date" class="form-control">
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control">
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="TipoDevId" class="form-label"></label>
            <input asp-for="TipoDevId" type="number" class="form-control">
            <span asp-validation-for="TipoDevId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <img asp-for="Foto" src="~/img/usuarios/avatar.png" alt="Foto" width="100%">
        </div>

        <button type="submit" class="w-100 btn btn-primary">Registrar</button>

        <div class="separator">
            <div class="line"></div>
            <h6>Já possui uma conta?</h6>
            <div class="line"></div>
        </div>

        <a asp-action="Login" class="w-100 btn btn-success mt-1">Entrar</a>

    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script>
        let mensagemErro = '';
        $('.validation-summary-errors ul li').each(function () {
            mensagemErro += $(this).text();
        });
        if (mensagemErro != '') {
            Swal.fire({
                title: "Erro no Registro",
                text: mensagemErro,
                icon: "error"
            });
        }
    </script>
}